<html>
	<head>
		<title>Admin </title>
			<link rel="stylesheet" href="/css/main_admin.css">
	</head>
	<body>
			<a href="/admin/download"><button >Скачать Excel</button></a>
			<a href="/admin/users"><button>Изменить пользователей к боту</button></a>
			<a href="/admin/destinations"><button>Изменить пункты назначения</button></a>
			<a href="/admin/loadouts"><button>Изменить пункты вывоза</button></a>
			<a href="/admin/loadins"><button>Изменить варианты пород дерева</button></a>
			<a href="/admin/sortiments"><button>Изменить варианты сортиментов</button></a>	
			<div class="area"><% if (action === 'download'){%>
			<form method="post" action="/download">
			<p>Выберите месяц<p>
				<input type="month" name="mounth" id="mounth" required>
			<p>
				<button type=submit class="download"></button></p>
			</form>
			<%if (options.optionName === "err" ){%>
				<p id="displayName">Ошибка. Обновите страницу.</p>
				<%}%>
			<%} if (action==="destinations" || action==="loadouts" || action==="loadins" || action==="sortiments"){%>
				<p id="displayName"><%=options.displayName%></p>
				<%for (item in options.savedValues){ %>
					<p></p><input type="text" value ="<%=options.savedValues[item] %>" id="<%=item%>" class="existingOption"></input>
			<%} %>
			<p></p><input type="text" id="newValue" class="newOption"></input>
			<input type="button" value="Сохранить" id="addButton">
		<%}%>
		<%if (action === "users" ){%>

			<table id = "users">
				<tr>
					<th>Имя</th>
					<th>Номер авто</th>
					<th>Telegram chat ID</th>
					<th>Действия</th>
				</tr>
			<%userList.forEach((el) =>{%>
				<tr>
					<td><%=el.name%> <%if (el.state === 6){%>(Заблокирован)<%}></td>
					<td><%=el.autoNo%></td>
					<td><%=el.id%></td>
					<td><%if (el.state === 6){%><button title="Восстановить доступ" class="restore" id=<%=el.id%></button><%} 
						else { %><button title="Закрыть доступ" class="delete" id=<%=el.id%>></button><%}%>
						<%if (el.adminFlag === 1){%><button title="Убрать из администраторов" class="demote" id=<%=el.id%></button><%} 
						else { %><button title="Сделать администратором" class="promote" id=<%=el.id%>></button><%}%>
					</td>
				</tr>
				
			<%})%>
			
		</table>
			<%}%>

			</div>
			<script>
				async function sendUpdate(newOption){
					let response = await fetch('/updateOptions', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify(newOption)
					});
					if (!response.ok) {
            throw new Error('Network response was not ok');
        }
		let result = await response.json();

		if (result) {
			setTimeout(() => {
				window.location.reload();
			}, 150)
        }
				}
				async function changeAccess(ID){
					let response = await fetch('/updateUser', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({ id: ID })
					});
					if (!response.ok) {
							console.log(response);
							throw new Error('Network response was not ok');
						}
					let result = await response.json();

					if (result) {
						setTimeout(() => {
							window.location.reload();
						}, 150)
					}
				};

				async function changeAdmin(ID){
					let response = await fetch('/updateUserAdmin', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json' },
						body: JSON.stringify({ id: ID })
					});
					if (!response.ok) {
							console.log(response);
							throw new Error('Network response was not ok');
						}
					let result = await response.json();

					if (result) {
						setTimeout(() => {
							window.location.reload();
						}, 150)
					}
				};


				const addOnClickHandler = (buttons, handlerFunction) => {
					for (let i = 0; i < buttons.length; i++) {
						let button = buttons[i];
						if (button.id) {
							button.onclick = () => {
								handlerFunction(button.id);
							};
						}
					}
				};
				let restoreButtons = document.getElementsByClassName('restore');
				let deleteButtons = document.getElementsByClassName('delete');
				let demoteButtons = document.getElementsByClassName('demote');
				let promoteButtons = document.getElementsByClassName('promote');
				for (element in deleteButtons) {
					if(deleteButtons[element].id){
						let id = deleteButtons[element].id;
						document.getElementById(deleteButtons[element].id).onclick = () => {
							changeAccess(id);
						}
					}
				};

				addOnClickHandler(deleteButtons, changeAccess);
				addOnClickHandler(restoreButtons, changeAccess);
				addOnClickHandler(demoteButtons, changeAdmin);
				addOnClickHandler(promoteButtons, changeAdmin);


				try{
					document.getElementById('addButton').onclick = () => {
					let newOption = {"savedValues":{}};
					const displayName = document.getElementById("displayName").textContent;
					const button=document.getElementById("addButton");
					button.setAttribute("disabled","disabled");
					let gotElements = document.getElementsByClassName('existingOption');
					let i = 0;
					for (item in gotElements){
						if (gotElements[item].value){
						newOption.savedValues[i]=gotElements[item].value;
						i++;
						}
					}
					i++;
					if (document.getElementById("newValue").value){
						newOption.savedValues[i]=document.getElementById("newValue").value;
					}
					newOption["displayName"]=displayName;
					sendUpdate(newOption);
				}}catch(err){
					console.log("No Save Button");
				};
			</script>
	</body>
</html>